/*ADDITIONS FOR ADDING TUFTS BLUE */
.w3-azure,.w3-hover-azure:hover{color:#fff!important;background-color:#3E8EDE!important}
.w3-text-azure,.w3-hover-text-azure:hover{color:#3E8EDE!important}
.w3-border-azure,.w3-hover-border-azure:hover{border-color:#3E8EDE!important}

/*FOR NUMBERS IN PUBLICATIONS */
.rownumber {font-size: .85em;}

/*FOR TABLE ROW LINK TO FILES*/
*[data-href] {cursor: pointer;}

/*FOR GALLERY PHOTOS*/
.img-gallery img{opacity: 0.8; cursor: pointer}
.img-gallery img:hover{opacity: 1}

/*HOVERING TOOLTIP */
.tooltip {position: relative; display: inline-block; border-bottom: 1px dotted black;}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {visibility: visible;}