

# permanently redirect from www domain to non-www domain
RewriteEngine on
RewriteCond %{HTTPS} on
Options +FollowSymLinks
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^(.*)$ https://sedpaleo.org/$1 [R=301,L]
